# =========================
# Application
# =========================

# Environment: local | dev | prod
APP_ENV=local

# Log level: debug | info | warn | error
LOG_LEVEL=debug

# HTTP server port (external)
HTTP_PORT=8080


# =========================
# Database (PostgreSQL)
# =========================

POSTGRES_USER=subs
POSTGRES_PASSWORD=subs
POSTGRES_DB=subs

# Used by application (local run)
DATABASE_URL=postgres://subs:subs@localhost:5432/subs?sslmode=disable

# Used inside docker-compose (service name = postgres)
DATABASE_URL_DOCKER=postgres://subs:subs@postgres:5432/subs?sslmode=disable


# =========================
# Migrations (goose)
# =========================

GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./migrations
